@media only screen and (max-width: 641px)
{
	/*prevents iphone from resizing in landscape mode---*/
   html{
	-webkit-text-size-adjust: none;
   }
   	.header
   	{
   		width: 100%;
   	}
	.header h3
	{
		font-size: 24px;
		padding: 10px;
		margin: 10px;
	    text-align: center;
	}
	nav ul{
		padding: 1em 0;

	}
	nav ul li{
		margin: 0 2%;
		width: 96%;
	}
	nav ul li a{
		margin: 5px;
		padding: 5px;
		display: block;
		text-align: center;
		font-weight: 300;
		text-decoration: none;

	}
	.service h2
	{
		font-size: 25px;
	}
	.service span
	{
		font-size: 50px;
		top: 500px;
	}
	.content
	{
		width: 80%;
		margin: auto;

	}
	.article1, .article2, .article3, .article4, .article5, .article6
	{
		margin: 10px;
		padding: 10px;
		float: left;
	}
}






